%h1 Sign up for a new account
%p Signing up is easy. Give us a login name and an email address. We'll send you a confirmation email. You'll click the link in the email which will bring you back here where you'll complete your signup. This whole process should only take about a minute, but if you need help, don't hesitate to let us know!

%h3 Tip: 
%p Use the same login name you use for Twitter. It'll make it easier for people to get in contact with you!
- form_for @user do |f|
  =error_messages_for :user

  .row
    = f.label :login
    %br
    = f.text_field :login
  .row
    = f.label :email
    %br
    = f.text_field :email
  .row
    = submit_tag "Sign Up" , :class => "submit" 
  
  