-@title = "Active Users"
%h2=@title
%p
  = link_to "New user", new_admin_user_path
%table
  %tr
    %th
      Login
    %th
      Email
    %th
      Created at
    %th{ :colspan => "3" }
      \&nbsp;
  - @users.each do |u|
    %tr
      %td
        = u.login
      %td
        = u.email
      %td
        = u.created_at
      %td
        = link_to "Show", admin_user_path(u)
      %td
        = link_to "Edit", edit_admin_user_path(u)
      %td
        - if u.admin?
          = link_to "Remove Admin", remove_admin_admin_user_path(u), :method => :put
        - else
          = link_to "Make Admin", make_admin_admin_user_path(u), :method => :put

