<h1>Active Users</h1>

<p><%=link_to "New user", new_admin_user_path %></p>

<% @users.each do |u|%>
	<p>
	<%= u.login %>
	<%= u.first_name %>
	<%= u.last_name %>
	<%= link_to "Show", admin_user_path(u)%>
	<%= link_to "Edit", edit_admin_user_path(u), :method => :put%>
	<% if u.admin? %>
		<%= link_to "Remove admin", remove_admin_admin_user_path(u), :method => :put%>
	<% else %>
		<%= link_to "Make admin", make_admin_admin_user_path(u), :method => :put %>
	<% end %>
	</p>
<% end %>

