<h1>Users show page</h1>

<p>
	Login: <%= @user.login %><br />
	First Name: <%= @user.first_name %><br />
	Last Name: <%= @user.last_name %><br />
	Nick Name: <%= @user.nick_name %><br />
	Address: <%= @user.address %><br />
	City: <%= @user.city %><br />
	State: <%= @user.state %><br />
	Zip: <%= @user.zip %><br />
	Phone Number: <%= @user.phone %><br />
	Email: <%= @user.email %><br />
	Date of Birth: <%= @user.dob %><br />
	Sex: <%= @user.sex %><br />
	Shirt: <%= @user.shirt %><br />
	School: <%= @user.school %><br />
	Ethnicity: <%= @user.ethnicity %><br />
	Total Paid: <%= @user.totalpaid %><br />
	Balance: <%= @user.balance %><br />
	Scholarship: <%= @user.scholarship %><br />
	Emergency Form: <%= @user.emer %><br />
	Ropes Course Form: <%= @user.ropes %><br />
	Paper: <%= @user.paper %><br />
	Mission: <%= @user.mission %><br />
	Evaluation: <%= @user.evaluation %><br />
	Notes: <%= @user.notes %><br />
	<% if @user.program %>
	Session: <%= @user.program.section.name %><br />
	Trip: <%= @user.program.trip.name %>
	<% end %>
</p>
<p>
<%= link_to "Back", admin_users_path%>
</p>