<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="" />
  	<meta name="description" content="" />
  	<title><%=@title %>YOUR_APP</title>
		<%=stylesheet_link_tag "style.css"%>
  
  </head>

  <body>

    <div id="page">
      
  		<div id="banner">
  		  <h1>Your App</h1>
  		</div>
  		
      <div id="main">
        <% unless flash[:notice].blank? %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
      
      <%=yield%>
      </div>
      
      <div id="footer">
        <h4>&copy; <%=Date.today.year %></h4>
      </div>
    </div>

  </body>
</html>
